<h1>五金店</h1>
    <p>五金店<b>(英：Hardware store)</b>或稱五金行是指專門售賣油漆、螺絲釘子、水喉配件等器具的店鋪。</p>
    <p>新式家品店因為也售賣電器、廚房用品、牀上用品等，它們的目標客人有所分別，所以未必能取代五金店。</p>
    <p>五金店賣的稱為半製成品耗材和建築業工具。</p>
    <p>許多五金店依據所在地和客戶羣的興趣設有專供部門，售販的東西包括打獵釣魚工具、船上用品、寵物食品和農場用品等。</p>
    <p>目前世界上最大的四家五金零售店分別是家得寶（美國）、Lowe's（美國）、翠豐公司（英國）和歐倍德（德國）。</p>
        <div class="">
            <img src="img_avatar3.png" alt="John Doe" class="align-self-start mr-3" style="width: 60px;">
            <div class="media-body">
                <h4>Peter Wang<small><i>發表於五月 19,2021</i></small></h4>
                <p>最新MVC框架發表了!</p>
                <div class="media p-3">
                    <img src="img_avatar4.png" alt="Jane Doe" class="align-self-start mr-3" style="width: 45px;">
                    <div class="media-body">
                        <h4>Jane Doe<small><i>Posted on February 20 2016</i></small></h4>
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>
        </div>
<p>{{name}}is a {{occupation}}</p>

